:root {
	--blur: 0px;
	--spread: 0px;
	--pixel-size: 1px;
	--gutter-size: 0px;
	--shadow-mult: calc(var(--gutter-size) + var(--pixel-size));
}

.pixel-stand {
	position: absolute;
	height: var(--pixel-size);
	width: var(--pixel-size);
	box-shadow:


	calc(4*var(--shadow-mult)) calc(0*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(5*var(--shadow-mult)) calc(0*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(6*var(--shadow-mult)) calc(0*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(7*var(--shadow-mult)) calc(0*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(8*var(--shadow-mult)) calc(0*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(9*var(--shadow-mult)) calc(0*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(10*var(--shadow-mult)) calc(0*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(11*var(--shadow-mult)) calc(0*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(4*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(5*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(6*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(7*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(8*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(9*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(10*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(11*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(12*var(--shadow-mult)) calc(1*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(4*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(5*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(6*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(7*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(8*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(9*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(10*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(11*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(12*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(13*var(--shadow-mult)) calc(2*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(3*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(4*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(5*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(6*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(7*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #CB8B4E,
	calc(8*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(9*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(10*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(11*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(12*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(13*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(14*var(--shadow-mult)) calc(3*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(3*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(4*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(5*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(6*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(7*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(8*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(9*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(10*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(11*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(12*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(13*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #663931,
	calc(14*var(--shadow-mult)) calc(4*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(3*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(4*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #CB8B4E,
	calc(5*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(6*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(7*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(8*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(9*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(10*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(11*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #CB8B4E,
	calc(12*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(13*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(14*var(--shadow-mult)) calc(5*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(3*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #CB8B4E,
	calc(4*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(5*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(6*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(7*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(8*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(9*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(10*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(11*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(12*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(13*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #76428A,
	calc(14*var(--shadow-mult)) calc(6*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(3*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(4*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(5*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(6*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(7*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(8*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(9*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(10*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(11*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(12*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(13*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(14*var(--shadow-mult)) calc(7*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #CB8B4E,
	calc(3*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(4*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(5*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(6*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(7*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(8*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(9*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(10*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(11*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(12*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(13*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #CB8B4E,
	calc(14*var(--shadow-mult)) calc(8*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #CB8B4E,
	calc(4*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(5*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(6*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(7*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #CB8AB7,
	calc(8*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #CB8AB7,
	calc(9*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(10*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(11*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(12*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(13*var(--shadow-mult)) calc(9*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(4*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #CB8B4E,
	calc(5*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(6*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(7*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(8*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(9*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(10*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(11*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #CB8B4E,
	calc(12*var(--shadow-mult)) calc(10*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(4*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(5*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(6*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(7*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(8*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(9*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(10*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(11*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(12*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(13*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(14*var(--shadow-mult)) calc(11*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(0*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(2*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(3*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(4*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(5*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(6*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(7*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(8*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(9*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(10*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(11*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #000000,
	calc(12*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(13*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(14*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(15*var(--shadow-mult)) calc(12*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(0*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(2*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(3*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(4*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(5*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(6*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(7*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(8*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(9*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(10*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(11*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(12*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(13*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(14*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(15*var(--shadow-mult)) calc(13*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(0*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(2*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(4*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(5*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(6*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(7*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(8*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(9*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(10*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(11*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(12*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(13*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(14*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(15*var(--shadow-mult)) calc(14*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(0*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(2*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(4*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(5*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(6*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(7*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(8*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(9*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(10*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(11*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(12*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(13*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(14*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(15*var(--shadow-mult)) calc(15*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(0*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(2*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(4*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(5*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(6*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(7*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(8*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(9*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(10*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(11*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(12*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(13*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(14*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(15*var(--shadow-mult)) calc(16*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(0*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(1*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(2*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(4*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(5*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(6*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(7*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(8*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(9*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(10*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(11*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(12*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(13*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(14*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(15*var(--shadow-mult)) calc(17*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(0*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(1*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(2*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(4*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(5*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(6*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(7*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(8*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(9*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(10*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(11*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(12*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(13*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(14*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(15*var(--shadow-mult)) calc(18*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(0*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(1*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(2*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(4*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(5*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(6*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(7*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(8*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(9*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(10*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(11*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(12*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(13*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(14*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(15*var(--shadow-mult)) calc(19*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(0*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(1*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(2*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(4*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(5*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(6*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(7*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(8*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(9*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(10*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(11*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(12*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(13*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(14*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(15*var(--shadow-mult)) calc(20*var(--shadow-mult)) var(--blur) var(--spread) #D4AB85,
	calc(2*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(4*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(5*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(6*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(7*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(8*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #D69BC4,
	calc(9*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(10*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #191616,
	calc(11*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(12*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #9BADB7,
	calc(13*var(--shadow-mult)) calc(21*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(4*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(5*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(6*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(7*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(8*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(9*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(10*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(11*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(12*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(13*var(--shadow-mult)) calc(22*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(4*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(5*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(6*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(7*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(8*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(9*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(10*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(11*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(12*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(13*var(--shadow-mult)) calc(23*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(2*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(3*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(4*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(5*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(6*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(7*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(8*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(9*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(10*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(11*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(12*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(13*var(--shadow-mult)) calc(24*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(4*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(5*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(6*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(9*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(10*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(11*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(12*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(13*var(--shadow-mult)) calc(25*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(26*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(26*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(4*var(--shadow-mult)) calc(26*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(5*var(--shadow-mult)) calc(26*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(6*var(--shadow-mult)) calc(26*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(9*var(--shadow-mult)) calc(26*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(10*var(--shadow-mult)) calc(26*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(11*var(--shadow-mult)) calc(26*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(12*var(--shadow-mult)) calc(26*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(13*var(--shadow-mult)) calc(26*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(27*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(27*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(4*var(--shadow-mult)) calc(27*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(5*var(--shadow-mult)) calc(27*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(6*var(--shadow-mult)) calc(27*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(9*var(--shadow-mult)) calc(27*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(10*var(--shadow-mult)) calc(27*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(11*var(--shadow-mult)) calc(27*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(12*var(--shadow-mult)) calc(27*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(13*var(--shadow-mult)) calc(27*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(28*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(28*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(4*var(--shadow-mult)) calc(28*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(5*var(--shadow-mult)) calc(28*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(6*var(--shadow-mult)) calc(28*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(9*var(--shadow-mult)) calc(28*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(10*var(--shadow-mult)) calc(28*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(11*var(--shadow-mult)) calc(28*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(12*var(--shadow-mult)) calc(28*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(13*var(--shadow-mult)) calc(28*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(2*var(--shadow-mult)) calc(29*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(29*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(4*var(--shadow-mult)) calc(29*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(5*var(--shadow-mult)) calc(29*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(6*var(--shadow-mult)) calc(29*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(9*var(--shadow-mult)) calc(29*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(10*var(--shadow-mult)) calc(29*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(11*var(--shadow-mult)) calc(29*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(12*var(--shadow-mult)) calc(29*var(--shadow-mult)) var(--blur) var(--spread) #306082,
	calc(13*var(--shadow-mult)) calc(29*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(2*var(--shadow-mult)) calc(30*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(3*var(--shadow-mult)) calc(30*var(--shadow-mult)) var(--blur) var(--spread) #1D1B1B,
	calc(4*var(--shadow-mult)) calc(30*var(--shadow-mult)) var(--blur) var(--spread) #1D1B1B,
	calc(5*var(--shadow-mult)) calc(30*var(--shadow-mult)) var(--blur) var(--spread) #1D1B1B,
	calc(6*var(--shadow-mult)) calc(30*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(9*var(--shadow-mult)) calc(30*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(10*var(--shadow-mult)) calc(30*var(--shadow-mult)) var(--blur) var(--spread) #1D1B1B,
	calc(11*var(--shadow-mult)) calc(30*var(--shadow-mult)) var(--blur) var(--spread) #1D1B1B,
	calc(12*var(--shadow-mult)) calc(30*var(--shadow-mult)) var(--blur) var(--spread) #1D1B1B,
	calc(13*var(--shadow-mult)) calc(30*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(2*var(--shadow-mult)) calc(31*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(3*var(--shadow-mult)) calc(31*var(--shadow-mult)) var(--blur) var(--spread) #341712,
	calc(4*var(--shadow-mult)) calc(31*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(5*var(--shadow-mult)) calc(31*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(6*var(--shadow-mult)) calc(31*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(9*var(--shadow-mult)) calc(31*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(10*var(--shadow-mult)) calc(31*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(11*var(--shadow-mult)) calc(31*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(12*var(--shadow-mult)) calc(31*var(--shadow-mult)) var(--blur) var(--spread) #200C08,
	calc(13*var(--shadow-mult)) calc(31*var(--shadow-mult)) var(--blur) var(--spread) #200C08;
}
